In [8]:
import pandas as pd
from geopy.geocoders import MapBox
from tqdm.auto import tqdm

tqdm.pandas()

geolocator = MapBox(api_key="pk.eyJ1IjoibWljaGFlbGh0aG9tYXMiLCJhIjoiY205M2RkaTN6MGg3YzJqb2x3NW1mN2MwaSJ9.6uRZ-TIfxHjfuPTTbwOZig")

leases = pd.read_csv("../data/Leases.csv")

full_addresses = (
    leases["address"]
    + ", "
    + leases["city"]
    + ", "
    + leases["state"]
    + " "
    + leases["zip"].apply(lambda x: str(int(x)) if pd.notna(x) else "")
)

address_info = pd.DataFrame.from_dict(
    {"id": leases["building_id"], "address": full_addresses}
).drop_duplicates()

In [9]:
def geocode(address):
  location = geolocator.geocode(address, exactly_one=True)
  if location is None:
    return pd.Series([None, None])

  return pd.Series([location.latitude, location.longitude])

# address_info[['latitude', 'longitude']] = address_info['address'].progress_apply(lambda x: geocode(x))

# address_info.to_csv('address_info.csv')

In [11]:
address_info

,id,address,latitude,longitude
0,Atlanta_Central Perimeter_Atlanta_10 Glenlake ...,"10 Glenlake Pky NE, Atlanta, GA 30328",33.936269,-84.361239
1,Atlanta_Northwest_Atlanta_100 City View_3330 C...,"3330 Cumberland Blvd, Atlanta, GA 30339",33.873792,-84.458516
2,Atlanta_Northwest_Atlanta_1000 Parkwood_1000 P...,"1000 Parkwood Cir SE, Atlanta, GA 30339",33.901861,-84.459599
3,Atlanta_Northwest_Atlanta_1100 Circle 75_1100 ...,"1100 Circle 75 Pky SE, Atlanta, GA 30339",33.889732,-84.465435
4,Atlanta_Central Perimeter_Atlanta_1200 Ashwood...,"1200 Ashwood Pky, Atlanta, GA 30338",33.933749,-84.340570

In [17]:
market_locations = pd.DataFrame.from_dict({"market": leases['market'].unique() + ", United States"})

market_locations[['latitude', 'longitude']] = market_locations['market'].progress_apply(lambda x: geocode(x))

100%|██████████| 29/29 [00:06<00:00,  4.67it/s]

In [ ]:
market_locations.to_csv('../data/market_locations.csv')

                                market   latitude   longitude
0               Atlanta, United States  33.750800  -84.389854
1                Austin, United States  30.268072  -97.742805
2             Baltimore, United States  39.289642  -76.612300
3                Boston, United States  42.358880  -71.056800
4             Charlotte, United States  35.227207  -80.843090
5               Chicago, United States  41.881954  -87.632360
6       Chicago Suburbs, United States  41.881954  -87.632360
7       Dallas/Ft Worth, United States  32.762771  -96.855290
8                Denver, United States  39.741680 -104.986110
9               Detroit, United States  42.331398  -83.046220
10              Houston, United States  29.760496  -95.363434
11          Los Angeles, United States  34.048050 -118.254190
12            Manhattan, United States  40.789352  -73.957090
13            Nashville, United States  36.164516  -86.781075
14  Northern New Jersey, United States  40.875032  -73.163422
15    Northern Virginia, United States  38.659151  -77.388589
16        Orange County, United States  43.988667  -72.447790
17         Philadelphia, United States  39.952755  -75.166855
18              Phoenix, United States  33.448230 -112.075096
19       Raleigh/Durham, United States  35.905055  -78.997542
20       Salt Lake City, United States  40.762760 -111.889780
21            San Diego, United States  32.713623 -117.160160
22        San Francisco, United States  37.779238 -122.419359
23              Seattle, United States  47.603245 -122.330284
24   South Bay/San Jose, United States  37.243414 -121.823120
25        South Florida, United States  37.167708  -94.846382
26    Southern Maryland, United States  39.290693  -76.517695
27                Tampa, United States  27.947973  -82.457100
28      Washington D.C., United States  38.902530  -77.039380